<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/">
      <div class="form">
        <h1>logIN form</h1>
        <label>email</label>
        <div class="name">
          <input type="email" name="email" placeholder="enter your email" />
        </div>
        <label>password</label>
        <div class="email">
          <input
            type="password"
            name="password"
            placeholder="enter your password"
          />
        </div>
        <button type="submit">logIN</button>
      </div>
    </form>
  </body>
</html>
